html, body {
    height: 100vh;
}

footer.page-footer {
    position: absolute;
    bottom: 0;
    padding: 20px 20px 20px 20px;
    background-color: #eee;
    width: 100vw;
    text-align: center;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.form-login {
    width: 60%;
    padding-bottom: 15px;
}

.navbar.navbar-inverse.navbar-fixed-top .container{
    display: flex;
    align-items: center;
}

.nav-item .nav-link {
    padding: 15px 15px;
    text-decoration: none;
    color: #ffffff;
    position: relative;
}

.nav-item.logout-link{
    cursor: pointer;
    position: absolute;
    right: 15px;
}

.home-container {
    display: flex;
}

.home-action {
    padding: 15px 20px;
    border-radius: 6px;
    margin-right: 20px;
    background-color: #32949b;
    color: white;
}

.personal-data {
    display: flex;
}

.personal-data div{
   margin-right: 20px;
}

.details-subtitle {
    font-weight: bold;
    margin: 25px 0px 10px 0px;
}

.buttons-container {
    padding: 30px 0px;
}